/* .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.form{
    width: 40%;
    background-color: aliceblue;
}
.output{
    width: 40%;
}
input {
    padding: 9px 10px;
    font-size: 15px;
    margin: 16px;
    width: 87%;
    border: none;
    outline: 1px soild blueviolet;
    border-bottom: 2px solid black;
}
.btn {
    font-size: 17px;
    margin-left: 128px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}
button {
    border-radius: 20px;
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
}
button:hover{
    background-color: green;
    color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }
  form {
    width: 63%;
    margin: 0 auto;
} */